#racetrack {
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    max-width: 800px;
}

.player {
    font-size: 0.75rem;
    margin: 0.5em 0em;
    padding: 0.25em 0em;
    width: 60px;
    border-bottom: 2px dashed var(--primary-color);
}

.player * {
    margin: 0.25em;
}